.col-sm-4 {
    height: 140px;
    width: 160px;
    max-width: 160px;
    display: flex;
    flex: auto;
    
    background-color: #d4ac6e;
    border-radius: 30px;
    border-style: groove;
    justify-content: space-around;
  
    margin: 5px; 
    padding: 5px; 
    flex-direction: column;
    
  } 

  .button {  
    color:#fff;
    padding: 15px 32px;
    text-decoration: aliceblue;
    text-align: center;  
    display: inline-block;
    border:none;
    border-radius: 15px;
    transition-duration: 0.2s; 
    cursor: pointer;
    box-shadow: 0 6px #999;
    outline: none;
    width: 100px;
    max-width: 100px;
    font-size: 13px;       
  }

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
  }
  .button:hover {background-color: #3e8e41;}
    
   ul {
    /* list-style-position: inside; */
    padding-inline-start: 20px;
  } 

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    
    justify-content: center;
    padding-top: inherit;
  }

  .cali{
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #8b6f47;
    padding-bottom: 15px;
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.medellin{
  padding-top: 5px;
  padding-bottom: 5px;
}
.cucuta{
  padding: 5px 5px;
  background-color: #8b6f47;
} 
.cartagena {
  height: 80px;
  max-height: 80px;
  align-items: center;
  display: flex;
}
.bosa{
  align-self : center;
}
.pasto {    
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

